@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-cointainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-cointainer::before {
  content: "";
  background-color: rgb(211, 211, 211);
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  position: absolute;
  background-color: rgb(103, 153, 230);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: rgb(252, 252, 252);
  color: rgb(112, 91, 91);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(158, 152, 152);
  transition: 0.4s ease;
}

.circle.active {
  border-color: rgb(46, 99, 179);
}

.btn {
  background-color: rgb(103, 153, 230);
  color: aliceblue;
  font-family: inherit;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  margin: 5px;
  padding: 8px 30px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn.focus {
  outline: 0;
}

.btn:disabled {
  background-color: rgb(211, 211, 211);
  cursor: not-allowed;
}
